:root {
    box-sizing: border-box;

    --white: #f2f5f8;
    --rich-black: #001829;
    --gunmetal: #152732;
    --lake-blue: #778da9;
    --saffron: #fec74e;
    --logo: url("../images/shoot_logo.png");
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/* ------------------------- NAVBAR STYLING START ------------------------- */
/* followed Responsive Multi Level Dropdown Menu with CSS tutorial by smashtheshell  */
header 
{
    background-color: var(--rich-black);
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 1.5rem;
}

.logo {
    display: block;
    width: 250px;
    height: 75px;
    margin: 15px 0 15px 0;
    background-image: var(--logo);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10000;
}

.menu li {
    list-style: none;
}

.menu ul {
    flex-grow: 1;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: var(--saffron);
    padding: 1em 1.5em;
    font-size: 1.6rem;
}

/* Styling submenu */
.has-dropdown {
    position: relative;
}

.submenu {
    position: absolute;
    z-index: 1000;
    left: 0;
    background-color: var(--rich-black);
    border-top: 1px solid var(--saffron);
    white-space: no-wrap;
    padding: 1.5em 0;
    min-width: 10em;

    /* hide submenu initially */
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}

.submenu>li>a {
    padding: 0.8em 1.5em;
}

.menu>li:hover>a,
.submenu>li:hover a {
    color: var(--lake-blue);
    /* contrast ratio with bg is 5.3:1 */
}

.menu>li:hover>a {
    background-color: var(--gunmetal);
}

/* Arrows */
.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -.25em;
    transition: transform 100ms ease-in-out;
}

/* reveal */
.menu>li:hover>a+.submenu {
    opacity: 1;
    transform: scaleY(1);
}

/* animate arrows */
.menu>li:hover>a>.arrow {
    transform: rotate(-135deg);
}

/* fixed a bug with the menu content expanding off the page at certain widths with the 2 @media queries below - robbie*/
@media (max-width: 1106px) {
    .menu>li>a {
        font-size: 1.3rem;
    }

    .submenu>li>a {
        font-size: 1.3rem;
    }
}

@media (max-width: 948px) {
    .menu>li>a {
        font-size: 1.2rem;
    }

    .submenu>li>a {
        font-size: 1.2rem;
    }
}

/* responsiveness for mobile screens */
@media only screen and (max-width: 1200px) {
    header {
        position: relative;
        padding: 1.5em 2em;
    }

    .menu {
        flex-flow: column;
        position: absolute;
        background-color: var(--rich-black);
        top: 6.125em;
        left: 0;
        right: 0;
        height: fit-content;

        /* hide menu initally */
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
            100ms opacity ease-in-out;
    }

    .menu>li>a {
        font-size: 1.5rem;
    }

    .submenu>li>a {
        font-size: 1.5rem;
    }

    .submenu {
        top: 0;
        padding: 0 1.5em;
    }

    .menu>li:hover>a+.submenu {
        position: relative;
    }

    /* hamburger icon */
    .hamburger {
        cursor: pointer;
        padding: 28px 20px;
        position: absolute;
        right: 1em;
        top: 1em;
        user-select: none;
    }

    .hamburger .navicon {
        background: var(--saffron);
        display: block;
        width: 50px;
        height: 5px;
        position: relative;
        margin-top: 10px;
        transition: background .2s ease-out;

    }

    /* gives the top and bottom lines */
    .hamburger .navicon::after,
    .hamburger .navicon::before {
        background: var(--saffron);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamburger .navicon:before {
        top: 15px;
    }

    .hamburger .navicon:after {
        top: 30px;
    }

    .close .navicon {
        background: transparent;
    }

    .close .navicon::before {
        transform: rotate(-45deg);
        top: 15px;
    }

    .close .navicon::after {
        transform: rotate(45deg);
        top: 15px;
    }

    /* reveal menu */
    input[type="checkbox"]:checked+.menu {
        position: absolute;
        margin-top: 20px;
        opacity: 1;
        transform: scaleY(1);
        border-top: 0.5px solid var(--saffron);
    }
}


/* ------------------------- NAVBAR STYLING END ------------------------- */

/* ------------------------- HOME PAGE AND WORKS CITED STYLING -------------------------- */
.home-card-container 
{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.home-card-image {
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
}
.home-card-container a {
    width: 40%;
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: flex;
}

.home-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    padding: 0;
    height:500px;
}
.home-card-container p {
    font-size: 2em;
}
.home-card p {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    padding: 1em;
    margin: 0;
    align-items: center;
    line-height: 1.5;
    overflow: hidden;
    min-height: 100px;
}
.home-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-card h3 {
    margin-top: 20px;
}

.home-card-container>p {
    text-align: center;
    width: 100%;
}

.bold_cards {
    font-weight: bold;
}

.works-cited-container {
    font-family: 'Lato', sans-serif;
}

.works-cited-container h2 {
    font-size: 3em;
    margin: 50px 50px 20px 100px;
}

.works-cited-container p {
    margin-left: 100px;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

.works-cited-container a {
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: normal;
    display: block;
}

.works-cited-container a:nth-last-of-type(1) {
    margin-bottom: 75px;
}

/* HOMEPAGE END */
footer {
    display: flex;
    flex-direction: column;
    background-color: #001829;
    color: #F2F5F8;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-top: 5em;
}

footer>.names {
    display: flex;
    justify-content: space-between;
    margin: 12px 12px;
}

footer>.group {
    display: flex;
    justify-content: space-between;
    margin: 12px 12px;
}

/* QUIZ PAGE */

.question-container ul {
    list-style-type: upper-alpha;
    padding-left: 2rem;
}


p {
    font-size: 1.2rem;
    line-height: 32px;
}

.p-desc {
    margin: 0 48px;
}

li {
    font-size: 1.2rem;
}

.contrast-accesibility li{
    position: relative;
    margin-left: 96px;
}

.big-header {
    font-size: 2rem;
    font-weight: bold;
}

/* Repetition Styling */
/* Repetition Page Styling */
.practice {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    align-items: center;
}

.practice p {
    max-width: 70%;
    text-align: center;
}

.practice img {
    max-width: 100%;
    box-shadow: 1px 1px 5px var(--lake-blue);
    margin: 1em 0;
}

/* Contrast Slider Styling */
.box-container {
    position: relative;
    margin: 2rem auto;
    height: 400px;
    width: 600px;
}

.contrast {
    position: absolute;
    overflow: hidden;
}

.contrast img {
    width: 600px;
    height: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #001829 solid 1px;
    border-radius: 10px;
}

.mobile-image, .middle-image {
    display: none;
}

@media only screen and (max-width: 854px) and (min-width: 575px) {
    .box-container {
        max-height: 270px;
        max-width: 480px;
    }
    .contrast img {
        width: 480px;
        height: 270px;
    }
    .mobile-image {
        display: block
    }
    .desktop-image {
        display: none;
    }
    .middle-image {
        display: block;
    }
}

@media only screen and (max-width: 574px) {
    .box-container {
        max-height: 181px;
        max-width: 320px;
    }
    .contrast img {
        width: 320px;
        height: 181px;
    }
    .mobile-image {
        display: block
    }
    .desktop-image {
        display: none;
    }
    .middle-image {
        display: none;
    }
}

.slider {
    position: absolute;
    z-index: 999;
    cursor: ew-resize;

    width: 24px;
    height: 24px;
    background-color: #F2F5F8;
    border: 2px solid #001829;
    border-radius: 32px;
}

/* Alignment styles */
.alignment-box {
    max-width: 800px;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #001829;
    box-sizing: border-box;
}

.desc {
    color: #F2F5F8;
}

#stars .row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.star {
    font-size: 2rem;
    color: #FEC74E;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.buttons button {
    flex: 1;
    padding: 0.75rem;
    border: none;
    background: #F2F5F8;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button.active {
    background: #708099;
    color: #F2F5F8;
}

.hero-home {
    background-image: url('../images/home_hero.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    position: relative;
}

.hero-home h1 {
    color: var(--white);
    font-family: 'Bebas Neue';
    font-size: 16vw;
    bottom: 25%;
    position: absolute;
}

.hero-home h2 {
    color: var(--white);
    font-family: 'Lato';
    font-size: 4vw;
    bottom: 20%;
    position: absolute;
}

.hero-container {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.hero-container h1 {
    color: var(--white);
    font-family: 'Bebas Neue';
    font-size: 16vw;
}

@media screen and (max-width: 700px) {
    .hero-home {
        align-items: center;
        height: 50vw;
    }

    .hero-container {
        height: 50vw;
    }
    .hero-home h1, .hero-home h2
    {
        width: 100%;
        text-align: center;
    }
    .hero-home h1
    {
        font-size: 8em;
    }
    .hero-home h2
    {
        font-size: 3em;
        bottom: 15%;
    }
}

.what {
    color: var(--rich-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.def-img {
    display: flex;
    gap: 0;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0;
}

.def-img img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
}

.what-desc {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 3em;
}
.what-list li 
{
    margin: 1.5em 0;
}
.what-list
{
    list-style-position: inside;
    align-self: baseline;
}
.def-img p, .what-list, .reg p, .reg div, .what-desc p
{
    margin-left: 3em;
}
.reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    max-width: 70%;
    margin: auto 15vw 2.5em 15vw;
}
.what
{
    margin-bottom: 2.5em;
}

/* .reg h2 {
    margin: 2em 0 0 2em;
} */

.principle-pract
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin: auto 15vw 2em 15vw;
    max-width: 70%;
}
.alignment-box, #star-container
{
    align-self: center;
    min-width: none;
    width: 70%;
}
/* .principle-pract h2 
{
    margin: 2em 0 0 2em;
} */
.caption {
    text-align: center;
    margin: 2rem auto;
}

/* ------------------------- PROXIMITY STYLES ------------------------- */
/* Stars */
#star-container {
    position: relative;
    background-color: #001829;
    border-radius: 8px;
    height: 400px;
    max-width: 1800px;
    overflow: hidden;
}

.star-prox {
    font-size: 4rem;
    color: gold;
    position: absolute;
    transition: all 1.2s ease;
    cursor: default;
}

/* QUIZ PAGE */
.quiz-card
{
    font-weight: normal; 
    margin-left: 50px;
}
.quiz-card h2
{
    margin: 2em 0;
}
.question-container ul li:nth-last-of-type(1)
{
    margin-bottom: 15px;
}
.question-container ul 
{
    list-style-type: upper-alpha;
    padding-left: 2rem;
}
.question-container p
{
    font-weight: bold;
}
.question-container ul li
{
    cursor: pointer;
    /* color: red; */
    width: fit-content;
}
.selected
{
    font-weight: bold;
    color: var(--lake-blue)
}
#submitBtn
{
    background-color: #001829;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 20px 50px;
    margin-top: 10px;
    cursor: pointer;
}
#submitBtn:hover
{
    background-color: #152732;
}
#err
{
    color: red;
}


@media only screen and (max-width: 620px) {
    footer>.names {
        display: block;
    }

    footer>.group {
        display: block;
    }
}

@media (max-width: 1024px) {
    .def-img img
    {
        width: 50vw;
        height: auto;
    }
    .def-img 
    {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .what-desc
    {
        gap: 10px;
    }
    .works-cited-container h2 {
        margin: 40px 40px 20px 60px;
        font-size: 2.5em;
    }

    .works-cited-container p,
    .works-cited-container a {
        margin-left: 60px;
        font-size: 1.2em;
    }
    .home-card-container>p
    {
        font-size: 1.5em;
    }

}

@media (max-width: 768px) {
    .alignment-box, #star-container, .principle-pract, .what, .reg
    {
        max-width: none;
        min-width: none;
        width: 100%;
        
    }
    .alignment-box, .what img
    {
        border-radius: 0;
    }
    .def-img img
    {
        width: 100%;
        height: auto;
    }
    .what, .reg, .principle-pract
    {
        margin: auto 0 2em 0;
        align-self: center;
    }
    .def-img p, .reg p 
    {
        margin-right: 32px;
        font-size: 1.1rem;
    }
    .contrast-accesibility li, li {
        font-size: 1.15em;
    }
    .home-card-container {
        gap: 30px;
        padding: 30px 10px;
    }
    .works-cited-container h2 {
        margin: 30px 30px 20px 30px;
        font-size: 2em;
    }

    .works-cited-container p,
    .works-cited-container a {
        margin-left: 30px;
        font-size: 1.1em;
    }

    footer {
        font-size: 1em;
    }
    .what h2, .reg h2, .principle-pract h2
    {
        margin-left: .8em;
    }
    .what p, .reg div, .what ul
    {
        margin-left: 2.4em;
        width: 90%;
    }
    .home-card-container a
    {
        width: 100%;
        height: 440px;
    }
    .home-card
    {
        width: 100%;
        height: 440px;
    }
    .home-card-container>p
    {
        font-size: 1.2em;
    }
    
}

@media (max-width: 480px) 
{
    .home-card-container a {
        width: 100%;
    }

    .logo {
        width: 180px;
        height: 60px;
        margin: 0;
    }

    .hamburger {
        cursor: pointer;
        padding: 28px 20px;
        position: absolute;
        right: .5em;
        top: -.25em;
        user-select: none;
    }

    .works-cited-container h2 
    {
        margin: 25px 20px 15px 20px;
        font-size: 1.5em;
        text-align: left;
    }

    .works-cited-container p,
    .works-cited-container a {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1em;
        word-break: break-word;
    }
    .principle-pract
    {
        width: 100%;
    }
    .reg, .what, .principle-pract
    {
        max-width: none;
        min-width: none;
        width: 100%;
        font-size: .8em;
    }
    .what img
    {
        border-radius: 0;
    }
    .what p, .reg div, .what ul
    {
        margin-left: 1.6em;
        width: 90%;
    }
    .hero-home h1
    {
        font-size: 6em;
    }
    .hero-home h2
    {
        font-size: 2em;
    }

}
@media (max-width: 1290px) {
    .home-card-image
    {
        height: 375px;
    }
}
@media (max-width: 878px) {
    .home-card-image
    {
        height: 340px;
    }
}
@media (max-width: 536px) {
    .home-card
    {
        font-size: .9em;
    }
}
